node_modules/
.next/
out/
build/
dist/
*.tsbuildinfo
next-env.d.ts

# Database lokal
*.db
*.db-journal
*.sqlite
prisma/*.db
prisma/*.db-journal

# Environment
.env
.env.local
.env.*.local

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Log
npm-debug.log*
yarn-error.log*
*.log
